.contact {
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    grid-template-rows: repeat(1fr, 4);
    justify-content: space-between;
    width: 100%;
    gap: 5px;

    // .contact__name
    &__name {
        grid-column: 1 / 2;
        grid-row: 1 / 3;

        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
    }

    // .contact__profession
    &__profession {
        grid-column: 1 / 2;
        grid-row: 3 / 5;

        text-transform: uppercase;
    }

    // .contact__address
    &__address {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    // .contact__phone
    &__phone {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    // .contact__email
    &__email {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    // .contact__github
    &__github {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
}